body{
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
     margin: 10px;
}
body > hi{
background-color: brown;
margin: 10px;
}
input[type=text]{
    height: 24px;
    border: 1px solid rgb(136, 142, 153);
    border-radius: 5px;
}
input[type=submit],
input[type=button],
input[type=file]{
    background-color: rgb(193, 197, 248);
    color: #FFF;
    text-transform: uppercase;
    font-weight: bolder;
    height: 32px;
}
input[type=submit]:hover,
input[type=button]:hover,
input[type=file]:hover{
   background-color: rgb(56, 95, 204);
   color: #FFF;
}       
input[type=text]:invalid,
input[type=date]:invalid,
input[type=submit]:invalid,
input[type=url]:valid,
input[type=tel]:valid{
    background-color: rgb();
    color: black;
}
input[type=text]:valid, /* Estilo para los input tipo text, date y file */
input[type=date]:valid, /* Cuado es valido su contenido */
input[type=file]:valid
input[type=url]:valid,
input[type=tel]:valid{
    background-color: rgb(134,250,173);
    color:black
}